<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body>
<div class="head">
    <h1>Registration Form</h1>
</div>
<form method="POST" action="/registration" class="form-container">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

<!--    <label for="confirm-password">Confirm Password:</label>-->
<!--    <input type="password" id="confirm-password" name="confirm-password" required>-->

    <input type="submit" value="Register">
</form>
</body>
</html>